/* src/components/Navbar/Menu.css */

.navbar-container {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 2rem;
  z-index: 100;
  pointer-events: none;
}

.brutalist-btn {
  pointer-events: auto;
  
  background: none;
  outline: none;

  /* --- MODIFICA QUI: Aggiungiamo il bordo base --- */
  /* Bordo nero su sfondo nero (invisibile ma occupa spazio) */
  border: 1px solid #000000; 

  /* Colori Base */
  background-color: #000000;
  color: #ffffff;
  
  /* Tipografia (Se hai cambiato font metti 'Geist Mono' qui) */
  font-family: 'AlteHaas', sans-serif; 
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  
  line-height: 1;
  /* Riduco leggermente il padding per compensare il bordo se serve, 
     ma 0.5px è già minimo. */
  padding: 1px 2px; /* Un po' di respiro rende il box più bello */
  display: inline-block;
  
  cursor: pointer;
  transition: none;
}

.brutalist-btn.active {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
}

/* Effetto Hover: Scambio Colori */
.brutalist-btn:hover {
  background-color: #ffd0ed;
  color: #000000;
  border: 1px solid #000000;
}