@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,500;1,400;1,500&display=swap');

/* 2. FONT LOCALI (Alte Haas Grotesk) */

/* Definizione per il REGULAR (Peso 400/Normal) */
@font-face {
    font-family: 'AlteHaas'; /* Stesso nome famiglia */
    src: url('../../assets/font/AlteHaasGroteskRegular.ttf') format('truetype');
    font-weight: 400; /* Indica al browser che questo file è per il peso normale */
    font-style: normal;
}

/* Definizione per il BOLD (Peso 700/Bold) */
@font-face {
    font-family: 'AlteHaas'; /* NOTA: Usiamo lo STESSO nome famiglia */
    src: url('../../assets/font/AlteHaasGroteskBold.ttf') format('truetype');
    font-weight: 700; /* Indica al browser che questo file è per il grassetto */
    font-style: bold;
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;
    background-color: #ffffff;
    /* Sfondo bianco di fallback */
}

/* Assicuriamoci che il canvas creato da p5 non abbia margini */
.background-container canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
}